body {
  padding-left:0.4%;
  padding-right:0.4%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color:#F9F9F9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*maybe text becomes smaller as solution to arrows overflowing*/

/* To compensate the large size everything has at less than 778px, make sure to make the standard size of everything large then minimized here*/

#calendar-duration{
  font-size:18px;
}

@media screen and (min-width: 778px){
  #calendar{
      float:right;
      width:79.2%;
   }
   #editor{
      float:left;
      width:20%;
  }

}

